.Cardbeer{
    height:500px;
    margin-top:15px;
    background-color: rgb(226, 222, 222)!important;
    color:black;
    transition: transform .2s;
}
.Cardbeer:hover{
    transform: scale(1.05);
    background-color: rgb(185, 179, 179)!important;
}

a:hover{
    text-decoration: none!important;
}

.CardbeerTop{
    height:13vw;
}

.CardbeerImg{
    height:10vw;    
}

.CardbeerDescription{
    height:14vw;
    overflow-y:hidden;
}

.taglinefont{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}