.Formular{
    margin:2%;
    width:96%!important;
    .form-check-input{
        margin-left:-1.25rem;
    }
    .searchbutton{
        width:100%;
        padding-right:0px;
        margin-right:0px;
    }
    
    .inputsearch{
        padding-left:0px;
        margin-left:0px;
    }
}

